body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
}

.container {
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;
    gap: 10px; /* Adds space between items */
    overflow-x: auto; /* Enables horizontal scrolling if needed */
}

.cart {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 200px; /* Adjust as needed */
}

.cart img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

button {
    background:none;
    color: black;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

